## Part 1: Explore the Data

Import the data and use Pandas to learn more about the dataset.

In [14]:
import pandas as pd
from pathlib import Path

df = pd.read_csv('Resources/client_dataset.csv')

df.head()

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1

In [15]:
# View the column names in the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54639 entries, 0 to 54638
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   first        54639 non-null  object
 1   last         54639 non-null  object
 2   job          54639 non-null  object
 3   phone        54639 non-null  object
 4   email        54639 non-null  object
 5   client_id    54639 non-null  int64
 6   order_id     54639 non-null  int64
 7   order_date   54639 non-null  object
 8   order_week   54639 non-null  int64
 9   order_year   54639 non-null  int64
 10  item_id      54639 non-null  object
 11  category     54639 non-null  object
 12  subcategory  54639 non-null  object
 13  unit_price   54639 non-null  float64
 14  unit_cost    54639 non-null  float64
 15  unit_weight  54639 non-null  float64
 16  qty          54639 non-null  int64
 17  line_number  54639 non-null  int64
dtypes: float64(3), int64(6), object(9)
memory usage: 7.5+ MB

In [16]:
# Use the describe function to gather some basic statistics

# print(df.describe())
df.describe()

,client_id,order_id,order_week,order_year,unit_price,unit_cost,unit_weight,qty,line_number
count,54639.000000,5.463900e+04,54639.000000,54639.000000,54639.000000,54639.000000,54639.000000,5.463900e+04,54639.000000
mean,54837.869416,5.470190e+06,11.359139,2022.993064,136.267207,99.446073,5.004116,5.702646e+02,2.979667
std,25487.438231,2.599807e+06,7.023499,0.082997,183.873135,133.164267,5.326599,1.879552e+04,2.436320
min,10033.000000,1.000886e+06,1.000000,2022.000000,0.010000,0.010000,0.000000,0.000000e+00,0.000000
25%,33593.000000,3.196372e+06,6.000000,2023.000000,20.800000,14.840000,1.450000,3.200000e+01,1.000000
50%,53305.000000,5.496966e+06,11.000000,2023.000000,68.310000,49.890000,3.240000,6.800000e+01,3.000000
75%,78498.000000,7.733869e+06,17.000000,2023.000000,173.160000,125.570000,6.890000,1.700000e+02,5.000000
max,99984.000000,9.998480e+06,52.000000,2023.000000,1396.230000,846.270000,46.430000,3.958244e+06,9.000000

In [17]:
# Use this space to do any additional research
# and familiarize yourself with the data.
# df.dtypes
# df.index
# df.max
# df.count() 
# df['client_id'].value_counts().head(10)
df['client_id'].unique()
# df['client_id'].nunique()
# df['client_id'].value_counts().head(10)

array([58515, 37609, 57113, 46554, 92089, 33615, 87213, 46709, 73362,
       58789, 81012, 74112, 18145, 48855, 67407, 26185, 17355, 28523,
       77184, 61603, 51869, 85413, 74159, 33804, 54932, 87125, 10643,
       10351, 10559, 31733, 95847, 97623, 68703, 28927, 48015, 90654,
       67516, 75118, 32185, 96736, 89499, 79827, 45569, 61647, 53409,
       17002, 18349, 25936, 37715, 41908, 25397, 59472, 77583, 34507,
       17697, 33956, 56645, 42481, 28011, 21654, 43361, 73729, 32597,
       34878, 24053, 48148, 27983, 55398, 40622, 41766, 40677, 92169,
       74058, 79361, 31268, 34313, 95108, 34706, 70043, 12286, 76087,
       99043, 28331, 47644, 13436, 31165, 79451, 22890, 14180, 32098,
       71958, 56590, 84527, 38220, 19206, 91091, 14312, 75546, 57762,
       10520, 86810, 31715, 65049, 87506, 22670, 49058, 82075, 37608,
       96954, 53348, 40490, 97794, 22008, 77340, 47507, 86045, 99231,
       49037, 19820, 61465, 48193, 32620, 14935, 16444, 37542, 46820,
       16500, 65084, 94475, 29992, 34211, 17699, 13010, 61058, 94786,
       24729, 99984, 42298, 58173, 26120, 57920, 87612, 50281, 52841,
       11890, 16290, 54094, 12338, 87818, 26601, 11444, 49027, 91172,
       64455, 49300, 89081, 38158, 42550, 17720, 99736, 31229, 22859,
       23041, 36393, 94213, 61935, 37212, 99354, 97876, 70745, 82314,
       64649, 19467, 29940, 60527, 62566, 89324, 35176, 98291, 73265,
       44699, 81699, 67252, 78786, 61797, 43607, 23919, 59268, 46191,
       79683, 87226, 66037, 87722, 19405, 24889, 79817, 68370, 27617,
       97017, 40457, 94174, 38012, 41069, 57574, 38473, 95565, 27387,
       49851, 48611, 24485, 18074, 55690, 43968, 48877, 94752, 84446,
       69671, 33921, 44969, 58799, 22122, 81719, 36139, 29718, 94774,
       25374, 41491, 62992, 88237, 25185, 84156, 57295, 82172, 29026,
       35348, 54196, 86562, 84432, 49404, 23939, 93818, 48410, 18550,
       42792, 79755, 94742, 44881, 42460, 80508, 30367, 78536, 51173,
       30369, 44478, 71992, 10033, 61211, 52379, 38192, 49687, 25942,
       89110, 56977, 86106, 56523, 34998, 13444, 78965, 25037, 90851,
       69528, 66648, 62559, 26564, 87473, 19904, 79504, 95003, 83448,
       80875, 73797, 10218, 96899, 22109, 65419, 66888, 98302, 99400,
       32500, 74559, 80857, 60730, 85977, 38932, 34713, 15554, 83211,
       13092, 30026, 62639, 54740, 16279, 73876, 32539, 30489, 54350,
       89505, 17254, 12028, 24741, 92173, 47614, 19062, 23906, 32145,
       36284, 31668, 30509, 79453, 92201, 28464, 57175, 40264, 34323,
       54340, 31279, 29245, 16982, 76177, 55191, 67328, 81576, 55846,
       96517, 39965, 66615, 27516, 81150, 23548, 74106, 24007, 38378,
       32549, 64477, 57283, 18574, 98825, 21134, 10753, 35902, 72963,
       85720, 67182, 79713, 92057, 26396, 78618, 85152, 34426, 90747,
       35208, 50173, 10435, 93693, 48342, 30272, 39173, 32240, 24750,
       21474, 55336, 21633, 69260, 73677, 33220, 94136, 98412, 37214,
       73297, 96848, 41561, 34514, 70029, 64260, 25639, 47496, 30143,
       24502, 28036, 85931, 60955, 52885, 52678, 80384, 77281, 22101,
       39613, 90466, 67860, 46804, 75907, 94675, 88149, 71447, 64563,
       83686, 64680, 78860, 73175, 38167, 97124, 85298, 91328, 86040,
       52356, 54596, 38305, 41696, 75770, 86936, 71560, 28386, 81778,
       22952, 51210, 12285, 67005, 52580, 73156, 50333, 78248, 81490,
       65819, 77306, 50605, 86721, 19800, 53993, 55696, 95656, 61382,
       38212, 57496, 44742, 47930, 35794, 27079, 80891, 15318, 99060,
       57669, 38760, 59566, 25535, 58133, 13482, 48554, 63691, 30693,
       20333, 18454, 73467, 27372, 67739, 71981, 94438, 14881, 82386,
       61164, 44673, 16974, 15647, 69074, 65687, 84710, 99394, 73450,
       33475, 31885, 37432, 36703, 56274, 15825, 79518, 53809, 33529,
       72247, 20793, 27302, 92331, 49457, 13021, 93794, 67852, 39141,
       76418, 36557, 62380, 19326, 45456, 78733, 18092, 34873, 78447,
       43867, 86938, 79507, 52023, 25114, 70995, 38992, 61027, 80977,
       69633, 18514, 58277, 28598, 17646, 16084, 11436, 84006, 48607,
       98410, 66345, 92721, 36023, 34811, 44849, 15845, 33367, 58400,
       43090, 61560, 57148, 75947, 22051, 53305, 37937, 56435, 48540,
       32156, 89557, 47078, 69499, 73652, 84429, 30827, 28080, 61449,
       64902, 66328, 80474, 70775, 44807, 19030, 91973, 47197, 87975,
       29621, 65030, 72892, 50162, 92936, 18975, 47752, 23640, 46354,
       50002, 82891, 81533, 73125, 31923, 57765, 29043, 46973, 65748,
       61084, 73569, 81805, 83803, 83238, 31897, 54471, 85369, 79966,
       50317, 54400, 96713, 34271, 39280, 50202, 51839, 78302, 56935,
       43576, 23557, 90830, 42471, 22262, 16624, 50377, 61482, 20875,
       35900, 36017, 66368, 16788, 22772, 50111, 54518, 83981, 48149,
       40214, 85093, 30339, 71188, 15901, 62116, 62227, 61197, 40835,
       88939, 86487, 38626, 90079, 93886, 39939, 32210, 51367, 53508,
       52709, 11787, 84535, 56343, 69800, 99390, 92552, 87985, 72750,
       84720, 59610, 89502, 52670, 35467, 44148, 41738, 84354, 50088,
       75662, 65569, 30994, 69327, 44304, 99213, 21314, 68577, 84344,
       49743, 20885, 16710, 40749, 69437, 81534, 47962, 80975, 97987,
       75351, 61161, 93798, 31680, 44715, 86393, 34847, 57134, 21317,
       41209, 89159, 28671, 68874, 51826, 11015, 14557, 51629, 67692,
       90703, 24236, 83290, 94238, 92744, 84878, 62135, 62134, 22833,
       28782, 88930, 52037, 54893, 13616, 82336, 65434, 31753, 49009,
       84576, 32698, 11675, 56021, 41656, 97501, 74643, 61110, 46911,
       18811, 35929, 31558, 20820, 66243, 79313, 38974, 53622, 67877,
       63780, 35763, 39516, 20291, 88009, 93900, 43980, 25119, 71054,
       37580, 86906, 24926, 63354, 49758, 90641, 98974, 86113, 90934,
       46363, 94420, 37231, 12269, 53578, 68227, 37784, 90482, 70781,
       74673, 46571, 48723, 97026, 76520, 55217, 31836, 15536, 55552,
       18741, 76697, 33151, 29579, 82931, 44157, 97522, 19872, 75225,
       46897, 87154, 32783, 81842, 13258, 91419, 24760, 91480, 82280,
       77354, 30246, 35619, 59765, 76797, 18390, 61559, 11432, 70939,
       61124, 64213, 71420, 91149, 88326, 34575, 59965, 32730, 61136,
       39382, 88257, 74236, 71289, 54172, 75217, 47061, 51158, 76049,
       61844, 82402, 83126, 99973, 55914, 20849, 22759, 79804, 85139,
       33593, 71449, 77875, 76714, 72694, 11984, 72202, 59711, 55605,
       54940, 18452, 62732, 77449, 44784, 10944, 98475, 81024, 97532,
       91441, 63806, 95119, 65338, 69701, 83089, 87556, 65486, 68332,
       93076, 29238, 98014, 10910, 15805, 54907, 41342, 99128, 41965,
       18789, 36531, 95944, 67908, 47153, 99450, 79329, 56168, 46547,
       89041, 88685, 98561, 29025, 27771, 10846, 73110, 19484, 32227,
       28231, 64616, 70744, 95649, 77692, 48013, 29566, 64194, 57434,
       83552, 95469, 30306, 11869, 90604, 27458, 29906, 44795, 73153,
       35531, 89503, 49481, 16568, 28525, 92111, 40610, 45280, 39113,
       51008, 99302, 78465, 70784, 40938, 97577, 45631, 77587, 80229,
       93423, 56941, 65681, 34259, 78498, 77592, 44498, 35483, 71600,
       16892, 43570, 57181, 32232, 16675, 16792, 30564, 87132, 71919,
       83646, 87791, 62315, 21522, 45395, 53864, 16195, 42270, 46661,
       73169, 77531, 86899, 10091, 32595, 85964, 95671, 91124, 40562,
       89869, 27692, 19918, 81907, 51200, 13801, 81912, 91729, 54011,
       32117, 51561, 73798, 89957, 70461, 49451, 37296, 16130, 31289,
       35930, 12789, 48106, 61350, 18800, 27114, 57776, 88840, 91809,
       64586, 94401, 53953, 84699, 88852, 19093, 16021, 68877, 64090,
       50685, 32026, 68464, 52996, 17425, 19222, 80989, 94987, 58304,
       29772, 29323, 56250, 68532, 57681, 26707, 32001, 74098, 77673,
       70734, 12907, 97596, 40754, 82254, 78434, 93184, 36662, 76017],
      dtype=int64)

In [18]:
print("qty:")
print(f"The count is {df['qty'].count()}")
print(f"The minimum is {df['qty'].min()}")
print(f"The maximum is {df['qty'].max()}")
print(f"The mean is {df['qty'].mean()}")

qty:
The count is 54639
The minimum is 0
The maximum is 3958244
The mean is 570.2646095279928

In [19]:

# print(df['client_id'])
# print(len(df['client_id']))
# print(df["category"].unique())
# print(df["category"].nunique())
print(df["category"].value_counts())

category
consumables    23538
furniture      11915
software        8400
decor           7954
electronics     2832
Name: count, dtype: int64

In [20]:
# What three item categories had the most entries?
df.sort_values(by='category', ascending=False)
df.groupby('category').sum()
df.groupby('category').size().sort_values(ascending=False).head(3)

category
consumables    23538
furniture      11915
software        8400
dtype: int64

In [21]:
# For the category with the most entries,
# which subcategory had the most entries?

df.sort_values(by='category', ascending=False)
df.groupby('category').sum()
df.groupby('category').size().sort_values(ascending=False).head(3)
df.groupby('subcategory').size().sort_values(ascending=False).head(1)

subcategory
bathroom supplies    6424
dtype: int64

In [22]:
# Which five clients had the most entries in the data?
df.sort_values(by='client_id', ascending=False)
df.groupby('client_id').sum()
df.groupby('client_id').size().sort_values(ascending=False).head(5)

client_id
33615    220
66037    211
46820    209
38378    207
24741    207
dtype: int64

In [23]:
# Store the client ids of those top 5 clients in a list.
Top5_clients = df.groupby('client_id').size().sort_values(ascending=False).head(5).index.tolist()
print(Top5_clients)

[33615, 66037, 46820, 38378, 24741]

In [35]:
# How many total units (the qty column) did the
# client with the most entries order order?
# total_units = df.groupby('client_id')['qty'].sum().sort_values(ascending=False)
# print(total_units.head(1))

df.loc[df['client_id'] == 33615, 'qty'].sum()

64313

## Part 2: Transform the Data
Do we know that this client spent the more money than client 66037? If not, how would we find out? Transform the data using the steps below to prepare it for analysis.

In [25]:
# Create a column that calculates the 
# subtotal for each line using the unit_price
# and the qty

df['subtotal'] = df['unit_price'] * df['qty']
# print(df['subtotal'])
print(df.head())

       first      last                    job               phone  \
0     Donald   Harding           Immunologist  793-904-7725x39308
1    Tiffany     Myers        Music therapist    201.442.4543x942
2    Shannon    Watson           Immunologist   687.737.9424x8503
3     Nathan     Baker  Accounting technician    827-788-8123x012
4  Christina  Schwartz           Chiropractor        265-829-3643

                                 email  client_id  order_id  order_date  \
0     harding.donald.7185@sullivan.com      58515   8953482  2023-04-28
1    myers.t.6537@ferguson-johnson.net      37609   8069089  2023-05-19
2                swatson8146@payne.net      57113   1902144  2023-01-29
3               bakernathan@benson.com      46554   9031802  2023-04-25
4  christinaschwartz9252@mcconnell.com      92089   1322274  2023-05-28

   order_week  order_year         item_id     category         subcategory  \
0          17        2023  EUD29711-63-6U        decor            wall art
1          20        2023  XDA18116-89-4A  consumables                pens
2           4        2023  ABE59463-05-7E     software  project management
3          17        2023  ZMM00836-65-0C  consumables                pens
4          21        2023  BZX55559-12-3X  consumables                misc

   unit_price  unit_cost  unit_weight  qty  line_number   subtotal
0     1096.80     762.71         7.50  105            1  115164.00
1       24.95      15.09         1.49   21            0     523.95
2       13.52       7.86         1.68   39            6     527.28
3       36.42      24.85         1.23   29            3    1056.18
4      195.10     108.17        46.43   20            1    3902.00

In [49]:
# Create a column for shipping price.
# Assume a shipping price of $7 per pound
# for orders over 50 pounds and $10 per
# pound for items 50 pounds or under.
# df['weight'] = df['qty'] * df['unit_weight']


# df['shipping_price'] = 
#     if df[weight] > 50:
#         return weight * 7
#     else:
#         return weight * 10
# print(df.head())
#create a dataframe

# df = df.apply(shipping_price)    
# print(df)
# print(shipping_price(5))
# print(df.head())

# df['shipping_price'] = df['qty'] * df['unit_weight']*7 when over 50 pounds
# df['shipping_price'] = df['qty'] * df['unit_weight']*10 when 50 pounds or under
# print(df['shipping_price'])
# import numpy as np
# df['shipping_price'] = np.where(df['unit_weight'] > 50, 
#                                 df['qty'] * df['unit_weight'] * 7, 
#                                 df['qty'] * df['unit_weight'] * 10)
# print(df)
def calculate_shipping_price(weight):
    if weight > 50:
        return weight * 7
    else:
        return weight * 10

df['shipping_price'] = df['weight'].apply(calculate_shipping_price)
print(df.head())

       first      last                    job               phone  \
0     Donald   Harding           Immunologist  793-904-7725x39308
1    Tiffany     Myers        Music therapist    201.442.4543x942
2    Shannon    Watson           Immunologist   687.737.9424x8503
3     Nathan     Baker  Accounting technician    827-788-8123x012
4  Christina  Schwartz           Chiropractor        265-829-3643

                                 email  client_id  order_id  order_date  \
0     harding.donald.7185@sullivan.com      58515   8953482  2023-04-28
1    myers.t.6537@ferguson-johnson.net      37609   8069089  2023-05-19
2                swatson8146@payne.net      57113   1902144  2023-01-29
3               bakernathan@benson.com      46554   9031802  2023-04-25
4  christinaschwartz9252@mcconnell.com      92089   1322274  2023-05-28

   order_week  order_year  ...     category         subcategory unit_price  \
0          17        2023  ...        decor            wall art    1096.80
1          20        2023  ...  consumables                pens      24.95
2           4        2023  ...     software  project management      13.52
3          17        2023  ...  consumables                pens      36.42
4          21        2023  ...  consumables                misc     195.10

   unit_cost  unit_weight  qty  line_number   subtotal  weight  shipping_price
0     762.71         7.50  105            1  115164.00  787.50         5512.50
1      15.09         1.49   21            0     523.95   31.29          312.90
2       7.86         1.68   39            6     527.28   65.52          458.64
3      24.85         1.23   29            3    1056.18   35.67          356.70
4     108.17        46.43   20            1    3902.00  928.60         6500.20

[5 rows x 21 columns]

In [51]:
# Create a column for the total price
# using the subtotal and the shipping price
# along with a sales tax of 9.25%

df['total_price'] = (df['subtotal'] + df['shipping_price'])*1.0925    
print(df.head())     

# df['total_price'] = (df['subtotal'] + df['shipping_price'])*1.0925
# df['total_price'] = (df['subtotal'] + ('shipping_price'))*1.0925
# print(df['total_price'],['total_price_no_tax'])

       first      last                    job               phone  \
0     Donald   Harding           Immunologist  793-904-7725x39308
1    Tiffany     Myers        Music therapist    201.442.4543x942
2    Shannon    Watson           Immunologist   687.737.9424x8503
3     Nathan     Baker  Accounting technician    827-788-8123x012
4  Christina  Schwartz           Chiropractor        265-829-3643

                                 email  client_id  order_id  order_date  \
0     harding.donald.7185@sullivan.com      58515   8953482  2023-04-28
1    myers.t.6537@ferguson-johnson.net      37609   8069089  2023-05-19
2                swatson8146@payne.net      57113   1902144  2023-01-29
3               bakernathan@benson.com      46554   9031802  2023-04-25
4  christinaschwartz9252@mcconnell.com      92089   1322274  2023-05-28

   order_week  order_year  ...         subcategory unit_price unit_cost  \
0          17        2023  ...            wall art    1096.80    762.71
1          20        2023  ...                pens      24.95     15.09
2           4        2023  ...  project management      13.52      7.86
3          17        2023  ...                pens      36.42     24.85
4          21        2023  ...                misc     195.10    108.17

   unit_weight  qty  line_number   subtotal  weight  shipping_price  \
0         7.50  105            1  115164.00  787.50         5512.50
1         1.49   21            0     523.95   31.29          312.90
2         1.68   39            6     527.28   65.52          458.64
3         1.23   29            3    1056.18   35.67          356.70
4        46.43   20            1    3902.00  928.60         6500.20

     total_price
0  131839.076250
1     914.258625
2    1077.117600
3    1543.571400
4   11364.403500

[5 rows x 22 columns]

In [53]:
# Create a column for the cost
# of each line using unit cost, qty, and
# shipping price (assume the shipping cost
# is exactly what is charged to the client).
df['total_cost'] = ((df['unit_cost'] * df['qty'])+df['shipping_price'])
print(df['total_cost'])
print(df.head())

0        85597.05
1          629.79
2          765.18
3         1077.35
4         8663.60
           ...
54634     2222.55
54635    12095.92
54636    41054.25
54637    14280.00
54638    16599.10
Name: total_cost, Length: 54639, dtype: float64
       first      last                    job               phone  \
0     Donald   Harding           Immunologist  793-904-7725x39308
1    Tiffany     Myers        Music therapist    201.442.4543x942
2    Shannon    Watson           Immunologist   687.737.9424x8503
3     Nathan     Baker  Accounting technician    827-788-8123x012
4  Christina  Schwartz           Chiropractor        265-829-3643

                                 email  client_id  order_id  order_date  \
0     harding.donald.7185@sullivan.com      58515   8953482  2023-04-28
1    myers.t.6537@ferguson-johnson.net      37609   8069089  2023-05-19
2                swatson8146@payne.net      57113   1902144  2023-01-29
3               bakernathan@benson.com      46554   9031802  2023-04-25
4  christinaschwartz9252@mcconnell.com      92089   1322274  2023-05-28

   order_week  order_year  ... unit_price unit_cost unit_weight  qty  \
0          17        2023  ...    1096.80    762.71        7.50  105
1          20        2023  ...      24.95     15.09        1.49   21
2           4        2023  ...      13.52      7.86        1.68   39
3          17        2023  ...      36.42     24.85        1.23   29
4          21        2023  ...     195.10    108.17       46.43   20

   line_number   subtotal  weight  shipping_price    total_price  total_cost
0            1  115164.00  787.50         5512.50  131839.076250    85597.05
1            0     523.95   31.29          312.90     914.258625      629.79
2            6     527.28   65.52          458.64    1077.117600      765.18
3            3    1056.18   35.67          356.70    1543.571400     1077.35
4            1    3902.00  928.60         6500.20   11364.403500     8663.60

[5 rows x 23 columns]

In [54]:
# Create a column for the profit of
# each line using line cost and line price
df['profit'] = df['total_price'] - df['total_cost'] 
print(df['profit']) 
print(df.head())

0        46242.026250
1          284.468625
2          311.937600
3          466.221400
4         2700.803500
             ...
54634     1342.321200
54635     2717.320275
54636     8130.646250
54637     1352.713600
54638     3112.331250
Name: profit, Length: 54639, dtype: float64
       first      last                    job               phone  \
0     Donald   Harding           Immunologist  793-904-7725x39308
1    Tiffany     Myers        Music therapist    201.442.4543x942
2    Shannon    Watson           Immunologist   687.737.9424x8503
3     Nathan     Baker  Accounting technician    827-788-8123x012
4  Christina  Schwartz           Chiropractor        265-829-3643

                                 email  client_id  order_id  order_date  \
0     harding.donald.7185@sullivan.com      58515   8953482  2023-04-28
1    myers.t.6537@ferguson-johnson.net      37609   8069089  2023-05-19
2                swatson8146@payne.net      57113   1902144  2023-01-29
3               bakernathan@benson.com      46554   9031802  2023-04-25
4  christinaschwartz9252@mcconnell.com      92089   1322274  2023-05-28

   order_week  order_year  ... unit_cost unit_weight  qty  line_number  \
0          17        2023  ...    762.71        7.50  105            1
1          20        2023  ...     15.09        1.49   21            0
2           4        2023  ...      7.86        1.68   39            6
3          17        2023  ...     24.85        1.23   29            3
4          21        2023  ...    108.17       46.43   20            1

    subtotal  weight  shipping_price    total_price  total_cost        profit
0  115164.00  787.50         5512.50  131839.076250    85597.05  46242.026250
1     523.95   31.29          312.90     914.258625      629.79    284.468625
2     527.28   65.52          458.64    1077.117600      765.18    311.937600
3    1056.18   35.67          356.70    1543.571400     1077.35    466.221400
4    3902.00  928.60         6500.20   11364.403500     8663.60   2700.803500

[5 rows x 24 columns]

## Part 3: Confirm your work
You have email receipts showing that the total prices for 3 orders. Confirm that your calculations match the receipts. Remember, each order has multiple lines.

Order ID 2742071 had a total price of \$152,811.89

Order ID 2173913  had a total price of \$162,388.71

Order ID 6128929 had a total price of \$923,441.25

In [59]:
# Check your work using the totals above
# Determine total price + shopping price, sum and display for order id 2742071
# df['total_Price_nt'] = ((df['unit_price'] * df['qty'])+df['shipping_price'])
# order_total = df.loc[df['order_id'] == 6128929, 'total_price'].sum() + df.loc[df['order_id'] == 6128929, 'shipping_price'].sum()
# Determine total price + shiping + tax for order id 2742071
order_total = df.loc[df['order_id'] == 2742071, 'total_price'].sum()
print(order_total)

152811.897075

In [60]:
# Determine total price + shiping + tax for order id 2173913
order_total = df.loc[df['order_id'] == 2173913, 'total_price'].sum()
print(order_total)

162388.7193

In [61]:
# Determine total price + shiping + tax for order id 6128929
order_total = df.loc[df['order_id'] == 6128929, 'total_price'].sum()
print(order_total)

923441.24045

In [62]:
print(df.head())

       first      last                    job               phone  \
0     Donald   Harding           Immunologist  793-904-7725x39308
1    Tiffany     Myers        Music therapist    201.442.4543x942
2    Shannon    Watson           Immunologist   687.737.9424x8503
3     Nathan     Baker  Accounting technician    827-788-8123x012
4  Christina  Schwartz           Chiropractor        265-829-3643

                                 email  client_id  order_id  order_date  \
0     harding.donald.7185@sullivan.com      58515   8953482  2023-04-28
1    myers.t.6537@ferguson-johnson.net      37609   8069089  2023-05-19
2                swatson8146@payne.net      57113   1902144  2023-01-29
3               bakernathan@benson.com      46554   9031802  2023-04-25
4  christinaschwartz9252@mcconnell.com      92089   1322274  2023-05-28

   order_week  order_year  ... unit_cost unit_weight  qty  line_number  \
0          17        2023  ...    762.71        7.50  105            1
1          20        2023  ...     15.09        1.49   21            0
2           4        2023  ...      7.86        1.68   39            6
3          17        2023  ...     24.85        1.23   29            3
4          21        2023  ...    108.17       46.43   20            1

    subtotal  weight  shipping_price    total_price  total_cost        profit
0  115164.00  787.50         5512.50  131839.076250    85597.05  46242.026250
1     523.95   31.29          312.90     914.258625      629.79    284.468625
2     527.28   65.52          458.64    1077.117600      765.18    311.937600
3    1056.18   35.67          356.70    1543.571400     1077.35    466.221400
4    3902.00  928.60         6500.20   11364.403500     8663.60   2700.803500

[5 rows x 24 columns]

## Part 4: Summarize and Analyze
Use the new columns with confirmed values to find the following information.

In [78]:
# How much did each of the top 5 clients by quantity
# spend? Check your work from Part 1 for client ids.

# df.groupby('client_id')['total_price'].sum().sort_values(ascending=False).head(5)
# print(df.groupby('client_id')['total_price'].sum().sort_values(ascending=False).head(5))
# df.loc[df['client_id'] in 33615, 'total_price'].sum()    
# Top5_clients

# values = Top5_clients
# Top5_clients_sales = df.loc[df['client_id'].isin(Top5_clients)].groupby('client_id')['total_price'].sum()   
# Top5_clients_sales.sort_values('Total Profit', ascending=False)
# print(Top5_clients_sales)

Top5_clients_sales = df.loc[df['client_id'].isin(Top5_clients)].groupby('client_id')['total_price'].sum()
Top5_clients_sales = Top5_clients_sales.sort_values(ascending=False)
for client_id, sales in Top5_clients_sales.items():
    print(f"Client ID: {client_id}, Total Sales: {sales:,.2f}" )

Client ID: 24741, Total Sales: 82,268,891.98
Client ID: 38378, Total Sales: 12,906,550.88
Client ID: 66037, Total Sales: 10,259,514.80
Client ID: 46820, Total Sales: 9,743,794.32
Client ID: 33615, Total Sales: 8,377,308.57

In [94]:
# Create a summary DataFrame showing the totals for the
# for the top 5 clients with the following information:
# total units purchased, total shipping price,
# total revenue, and total profit. Sort by total profit.

# data_dict = {'client_id': Top5_clients}
# columns = ['qty', 'shipping_price', 'total_price', 'total_shipping_price', 't   otal_revenue', 'total_profit'] 
# for col in columns:
#     data_dict[col] = [total
# summary_df


# Convert Top5_clients list into a DataFrame
# Ensure 'qty' column exists in 'Top5_clients_df'
# if 'qty' not in Top5_clients_df.columns:
#     Top5_clients_df['qty'] = 0

# # Create pivot table
# summary_df = Top5_clients.pivot_table(
#     index='client_id',
#     values=['qty', 'shipping_price', 'total_price', 'total_profit'],
#     aggfunc='sum'
# )

# # Sort by total profit
# summary_df = summary_df.sort_values('total_profit', ascending=False)


# Ryan gave hint pivot tables could be used here, utilized GPT to assist with troubelshooting the code
# Define Top5_clients_df as a DataFrame
Top5_clients_df = df[df['client_id'].isin(Top5_clients)]

# Add 'qty' column if it doesn't exist
if 'qty' not in Top5_clients_df.columns:
    Top5_clients_df['qty'] = 0

# Create pivot table
summary_df = Top5_clients_df.pivot_table(
    index='client_id',
    values=['qty', 'shipping_price', 'total_price', 'profit'],
    aggfunc='sum'
)

print(summary_df)

                 profit     qty  shipping_price   total_price
client_id
24741      3.657999e+07  239862      5126448.37  8.226889e+07
33615      2.201995e+06   64313      1828984.89  8.377309e+06
38378      3.271830e+06   73667      3429455.40  1.290655e+07
46820      2.736603e+06   75768      1601448.84  9.743794e+06
66037      3.255032e+06   43018      1395151.85  1.025951e+07

In [103]:
# Format the data and rename the columns
# to names suitable for presentation.
# Currency should be in millions of dollars.
# pivot_df = pivot_df.rename(columns={'total_price': 'Total Sales', 'qty': 'Quantity'})

# Convert DataFrame values to numbers
summary_df = summary_df.apply(pd.to_numeric, errors='coerce')

# Define a function to format values
def format_values(x):
    return "${:,.2f}M".format(x / 1000000)

# Apply the function to the pivot table
summary_df = summary_df.applymap(format_values)

print(summary_df)
summary_df['Total Sales'] = summary_df['total_price'].apply(format_values)
summary_df['Quantity'] = summary_df['Quantity'].apply(format_values)
print(summary_df)

          profit    qty shipping_price total_price
client_id
24741      $nanM  $nanM          $nanM       $nanM
33615      $nanM  $nanM          $nanM       $nanM
38378      $nanM  $nanM          $nanM       $nanM
46820      $nanM  $nanM          $nanM       $nanM
66037      $nanM  $nanM          $nanM       $nanM

C:\Users\KURTD\AppData\Local\Temp\ipykernel_26828\2368864874.py:14: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  summary_df = summary_df.applymap(format_values)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [ ]:
# Sort the updated data by "Total Profit" form highest to lowest